html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .row.g-0 {
    height: 100vh;
  }
  
  .split-left {
    background: url('../assets/login/image1.png') center center no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2f455c8d; /* dark overlay */
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-form {
    width: 100%;
    max-width: 400px;
    padding:50px 70px;
    border-radius: 12px;

  }

  .btn-login {
    background-color: #1DCDFE;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .btn:hover {
    background-color: #0b5ed7;
    color: white;
  }

  h1 {
    color: #2F455C;
    font-size: 2.2rem;
  }

  .form-label {
    color: rgb(0, 0, 0);
  }

  @media (max-width: 768px) {
    .split-left {
      display: none;
    }
    .login-form {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        padding: 50px 70px;
        margin: 20px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
      }
      body {
        background: #f0f4f8;
      }
  
    .logo-mobile {
      display: block;
    }
}